extends layout

block content
    
    div(class="light")
    div(class="dark")
    
    div(class="wBorder")
        div(class="topB")
        div(class="bottomB")
        div(class="leftB")
        div(class="rightB")
    
    section
        h1 TONALITY
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    section
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>  
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    
    p <em>Controls</em><br>ARROW KEYS - Move<br>SPACEBAR - Cycle Colors<br>ENTER - Toggle Influence Light/Dark
    
    p(class="copyright") Copyright Alain Filion 2015
    
        