doctype html
html

  head
    <!--stops the mobile device from zooming with touch input__source: David Walsh -->
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title= title
    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/modernizr.custom.52962.js')
    script(src='/javascripts/script.js')
    block content   