html{
    position: fixed;
    height: 100%;
    width: 100%;
}

body {
  font-family: 'Julius Sans One', sans-serif;
}

.fullBG{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: color 0.4s, background-color 0.4s;
}

.fullWrap {
  position: relative;
  top: 50%;
    width: 42%;
    margin: -20.6% auto 0;
}

.board{
    position: relative;
    z-index: 20;
}

.light{
    position: fixed;
    height: 100%;
    width: 130%;
    left: 50%;
    margin-left: -65%;
    top: 0;
    z-index: 0;
    transition: opacity 0.4s;
    background: -webkit-linear-gradient(left, transparent, #e8decb, #e8decb, transparent);
    background: -o-linear-gradient(left, transparent, #e8decb, #e8decb, transparent);
    background: -moz-linear-gradient(left, transparent, #e8decb, #e8decb, transparent);
    background: linear-gradient(to right, transparent, #e8decb, #e8decb, transparent);
}

.dark{
    position: fixed;
    height: 100%;
    width: 130%;
    left: 50%;
    margin-left: -65%;
    top: 0;
    z-index: 0;
     transition: opacity 0.4s;
    background: -webkit-linear-gradient(left, transparent, #343129, #343129, transparent);
    background: -o-linear-gradient(left, transparent, #343129, #343129, transparent);
    background: -moz-linear-gradient(left, transparent, #343129, #343129, transparent);
    background: linear-gradient(to right, transparent, #343129, #343129, transparent);
    opacity: 0;
}

a {
  color: #00B7FF;
}

h1{
    position: absolute;
    left: 0;
    top: -80px;
    font-size: 38px;
    letter-spacing: 5px;
}

section{
   width: 100%;
    float: left;
}

section div{
    background: hsl(150, 0%, 70%);
    width: 2.6%;
    padding-bottom: 2.6%;
    margin: 0.35%;
    float: left;
    transition: background-color .6s, box-shadow .3s;
}

p{
    position: fixed;
    left: 20px;
    bottom: 0;
    line-height: 22px;
}

em{
    font-size: 14px;
}

.copyright{
    left: auto;
    right:20px;
    font-size: 14px;
}


.arrows{
  position: fixed;
  width: 19%;
  padding-bottom: 19%;
  top: 40%;
  right: 1%;
  /*background-color: rgba(22,220,35,0.3);*/
    z-index: 1000;
}

.leftA{
    position:absolute;
    left:0;
    top:33.33%;
    width: 0; 
	height: 0; 
	border-top: 3.33vw solid transparent;
	border-bottom: 3.33vw solid transparent;
	border-right: 5.3vw solid rgba(0,0,0,0.5);
}

.rightA{
    position:absolute;
    right:0;
    top:33.33%;
    width: 0; 
	height: 0; 
	border-top: 3.33vw solid transparent;
	border-bottom: 3.33vw solid transparent;
	border-left: 5.3vw solid rgba(0,0,0,0.5);
}

.downA{
    position:absolute;
    bottom:0;
    left:33.33%;
    width: 0; 
	height: 0; 
	border-left: 3.33vw solid transparent;
	border-right: 3.33vw solid transparent;
	border-top: 5.3vw solid rgba(0,0,0,0.5);
}

.upA{
    position:absolute;
    top:0;
    left:33.33%;
    width: 0; 
	height: 0; 
	border-left: 3.33vw solid transparent;
	border-right: 3.33vw solid transparent;
	border-bottom: 5.3vw solid rgba(0,0,0,0.5);
}

.darkLight{
    position:absolute;
    width:25%;
    padding-bottom:25%;
    left: 37.495%;
    top:37.495%;
    /*border-radius:50%;*/
    background-color: rgba(255,255,255,0.5);
}


.colorSquares{
    position:fixed;
    left:1%;
    top:41.5%;
    width:17%;
    padding-bottom:17%;
    /*background-color:rgba(0,0,0,.2);*/
    z-index: 1000;
}

.greenS{
    position:absolute;
    left:0;
    top:0;
    width:42%;
    padding-bottom:42%;
    background-color: hsl(164, 60%, 50%);
}

.orangeS{
    position:absolute;
    right:0;
    top:0;
    width:42%;
    padding-bottom:42%;
    background-color: hsl(5, 60%, 50%);
    opacity: 0.5;
}

.purpleS{
    position:absolute;
    left:0;
    bottom:0;
    width:42%;
    padding-bottom:42%;
    background-color: hsl(276, 60%, 50%);
    opacity: 0.5;
}

.blueS{
    position:absolute;
    right:0;
    bottom:0;
    width:42%;
    padding-bottom:42%;
    background-color: hsl(196, 60%, 50%);
    opacity: 0.5;
    
}

.colorSquares div{
    border: 0.4vw solid rgba(0, 0, 0, 0.55);
}


@media (max-width:1024px){
    .board{
        position: fixed;
        top: 56px;
        width: 55%;
        left: 50%;
        margin-left: -27.5%;
    }
    
    .copyright{
        font-size: 12px;
        bottom: -11px;
    }
    
    h1 {
        top: -67px;
        font-size: 30px;
    }
    
            @media all and (orientation:portrait) {
                .board{  
                    position: fixed;
                    top: 56px;
                    width: 85%;
                    left: 50%;
                    margin-left: -42.5%;
                }
                
                .arrows{
                    top: 75%;
                    right: 8%;
                    width: 25%;
                    padding-bottom: 25%;
                }
                
                .leftA{
                    border-top: 4.5vw solid transparent;
                    border-bottom: 4.5vw solid transparent;
                    border-right: 6.5vw solid rgba(0,0,0,0.5);
                }

                .rightA{
                    border-top: 4.5vw solid transparent;
                    border-bottom: 4.5vw solid transparent;
                    border-left: 6.5vw solid rgba(0,0,0,0.5);
                }

                .downA{
                    border-left: 4.5vw solid transparent;
                    border-right: 4.5vw solid transparent;
                    border-top: 6.5vw solid rgba(0,0,0,0.5);
                }

                .upA{
                    border-left: 4.5vw solid transparent;
                    border-right: 4.5vw solid transparent;
                    border-bottom: 6.5vw solid rgba(0,0,0,0.5);
                }
                
                .darkLight{
                    width:27%;
                    padding-bottom: 27%;
                    left:37%;
                    top:37%;
                }
                
                .colorSquares{
                    left: 8%;
                    top: 76.5%;
                    width: 22%;
                    padding-bottom: 22%;
                }

            }
}

@media (max-width:320px){
    .copyright{
        font-size: 9px;
    }
}

