html{
    position: fixed;
    height: 100%;
    width: 100%;
}

body {
  position: relative;
  top: 50%;
  font-family: 'Julius Sans One', sans-serif;
    width: 42%;
    height: 100%;
    margin: -24% auto 0;
}

a {
  color: #00B7FF;
}

h1{
     font-size: 38px;
    letter-spacing: 5px;
}

section{
   width: 100%;
}

div{
    background: hsl(150, 0%, 70%);
    width: 2.6%;
    padding-bottom: 2.6%;
    margin: 0.35%;
    float: left;
    transition: background-color .6s, box-shadow .3s;
}

p{
    position: fixed;
    left: 20px;
    bottom: 0;
    line-height: 22px;
}

em{
    font-size: 14px;
}

.copyright{
    left: auto;
    right:20px;
    font-size: 14px;
}
